<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="cnErpPanoramaBD" connectionString="Data Source=172.16.0.151;Initial Catalog=BD_ERPPanorama;Persist Security Info=True;User ID=sa;Password=Pan0H0use@21" providerName="System.Data.SqlClient" />
    <!--add name="cnErpPanoramaBD" connectionString="Data Source=172.16.0.154;Initial Catalog=BD_ERPPanorama;Persist Security Info=True;User ID=sa;Password=pandes2012@" providerName="System.Data.SqlClient" /-->
    <!--add name="cnErpPanoramaBD" connectionString="Data Source=172.16.0.151;Initial Catalog=BD_ERPPanorama;Persist Security Info=True;User ID=sa;Password=pandes2012@" providerName="System.Data.SqlClient"/-->
    <!--add name="cnErpPanoramaBD" connectionString="Data Source=EDER-PC;Initial Catalog=BD_ERPPanorama;Persist Security Info=True;User ID=sa;Password=pandes2012@" providerName="System.Data.SqlClient"/-->
    <!-- 209.45.48.131 Pan0H0use@21 -->
  </connectionStrings>
  
  <appSettings>
    <!-- Betsabe Tapia Huaman   -->
    <!-- ______URL SERVICE SUNAT______ -->
    <!-- URL DE PRUEBA
    <add key="URL_SNT_FE" value="https://e-beta.sunat.gob.pe/ol-ti-itcpfegem-beta/billService" /> -->
    <!-- URL DE PRODUCCION  -->
    <add key="URL_SNT_FE" value="https://e-factura.sunat.gob.pe/ol-ti-itcpfegem/billService" />
    <add key="URL_SNT_CO" value="https://e-factura.sunat.gob.pe/ol-it-wsconscD:\Fuentes_sistemas\slnErpPanorama\ErpPanorama.Presentation\app.configpegem/billConsultService" />
    <!-- _____________________________ -->
    <!-- ______URL SERVICE OSE NUBEFACT______ -->
    <!-- URL DE PRUEBA 
    <add key="URL_SNT_OSE" value="https://demo-ose.nubefact.com/ol-ti-itcpe/billService"/>-->
    <!-- URL DE PRODUCCION OSE NUBEFACT -->
    <add key="URL_SNT_OSE" value="https://ose.nubefact.com/ol-ti-itcpe/billService" /> 
    <!-- _____________________________ -->
    <!-- ______URL SERVICE SUNAT (GUIA DE REMISION)______ -->
    <!--  URL DE PRUEBA 
    <add key="URL_SNT_GR" value="https://e-beta.sunat.gob.pe/ol-ti-itemision-guia-gem-beta/billService" />-->
    <!--  URL DE PRODUCCION -->
    <add key="URL_SNT_GR" value="https://e-guiaremision.sunat.gob.pe/ol-ti-itemision-guia-gem/billService" /> 
    <!-- _____________________________ -->
    <!-- CARPETA PRINCIPAL DE DOCUMENTOS -->
    <add key="CAR-DOCUMENTOS" value="\\172.16.0.155\Factura_Electronica\documentos\" />
    <!-- CARPETA PRINCIPAL DE CERTIFICADOS -->
    <add key="CAR-CERTIFICADOS" value="\\172.16.0.155\Factura_Electronica\certificados\" />
    <!-- CARPETA PRINCIPAL DE LOGO PDF -->
    <add key="LOGO_EMPRESA" value="\\172.16.0.155\Factura_Electronica\logo\logo.png" />
     
    <!-- DATOS RESOLUCIÓN Y LINK DE WEB DE CONSULTAS -->
    <add key="NRO_RESOLUCION" value="123456789" />
    <add key="LINK_DESCARGA_ARCHIVOS" value="" />
    <add key="IGV" value="18" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings> 
  
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ws_integrensSoap" maxReceivedMessageSize="524288" />
      </basicHttpBinding>
      <customBinding>
        <binding name="ws_integrensSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://172.16.0.151/Panorama_Interface_ws/ws_integrens.asmx" binding="basicHttpBinding" bindingConfiguration="ws_integrensSoap" contract="ws_integrens.ws_integrensSoap" name="ws_integrensSoap" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.1.0" newVersion="1.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.Shared" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.3500.0" newVersion="13.0.3500.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportSource" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.3500.0" newVersion="13.0.3500.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.CrystalReports.Engine" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.3500.0" newVersion="13.0.3500.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.15.0.0" newVersion="2.15.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.Algorithms" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>
