# Archivos de compilación
*.exe
*.dll
*.pdb

# Archivos generados por Visual Studio
*.obj
*.cache
*.csproj.user
*.suo
*.userprefs
*.vs

# Carpeta bin y obj generada por la compilación
**/bin/
**/obj/
**/*.cache
**/*.exe
**/*.dll
**/*.pdb
**/*.cac

# Archivos de respaldo de código
*~
*#

# Archivos de registro
*.log

# Archivos de análisis de código
*.opencover.xml

# Carpetas específicas de salida de compilación
**/obj/Debug/*cache
**/obj/Release/*cache

# Archivos .txt en obj/x86/Release
**/obj/x86/Release/*.txt

